/* styles.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* 设置body至少撑满整个视口高度 */
    font-family: 'Microsoft Yahei', sans-serif; /* 使用谷歌字体 */
}

header {
    background-color: #333; /* 添加标题栏背景色 */
    color: #fff; /* 设置标题栏文字颜色为白色 */
    padding: 15px 20px; /* 调整标题栏内边距 */
    font-size: 18px; /* 设置标题栏字体大小为24像素 */
    margin-bottom: 20px; /* 添加标题栏下外边距 */
}

main {
    flex: 1; /* 主要内容部分填充剩余空间 */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px; /* 添加表格上外边距 */
}

th, td {
    border-bottom: 1px solid #ddd; /* 添加表格下边框横线 */
    padding: 8px; /* 调整表格单元格内边距 */
    text-align: left;
    vertical-align: middle; /* 垂直居中对齐 */
}

.customization-info {
    color: #666; /* 更深的灰色 */
    position: absolute;
    bottom: 50px; /* 调整这个值来控制离底部的距离 */
    width: 100%; /* 让它充满整个宽度 */
}

.customization-info .star {
    float: left; /* 左浮动 */
}

.customization-info .text {
    margin-left: 1em; /* 设置文本与星号之间的间距 */
}


footer {
    background-color: #f0f0f0;
    padding-top: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
